# temp files
*~

vars/project_customizations.yml

# directories
ace_ansible_logs/*
ace_ansible_logs/ansible.log
#
inventory/*
group_vars/*
host_vars/*
#roles/*


# temp files
*~

# private files

.private
.prv
*.retry
.vault
ansible.log
